@model ProfileViewModel
@{
    ViewData["Title"] = "Profile";
}
@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
@{
    var imageUrl = Model.ImageUrl == null ? "http://philosophy.ucr.edu/wp-content/uploads/2014/10/no-profile-img-240x300.gif" : Model.ImageUrl;
}
<br /><br />
<div class="row">
    <div class="col-md-12">
        <div class="well well-sm" style="background-color:deepskyblue">
            <div class="row">
                <div class="col-sm-6 col-md-4" style="margin:20px">
                    <img src="@imageUrl" alt="My Photo" class="img-rounded img-responsive" />
                </div>
                <div class="col-sm-6 col-md-6 col-md-offset-1">
                    <h2 class="text-center">
                        @Model.Name
                    </h2>
                    <br /><br />
                    <p>
                        <div class="col-md-6">
                            <strong>Name</strong>:<br /><br />
                            <strong>Username</strong>:<br /><br />
                            <strong>E-mail </strong>
                            <br />
                            <br />
                            <strong>Birthdate</strong><i class="glyphicon glyphicon-gift"></i><br /><br />
                        </div>
                        <div class="col-md-6">
                            @Model.Name<br /><br />
                            @Model.Username<br /><br />
                            <i class="glyphicon glyphicon-envelope"></i> @Model.Email<br /><br />
                            <i class="glyphicon glyphicon-gift"></i> @(Model.Birthdate.ToShortDateString() ?? "No birthdate")      <br /><br />
                        </div>
                    </p>
                    <div class="text-right" style="margin:10px">
                        <a asp-action="Index" class="btn btn-warning text-right">Edit Profile</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@if (Model.Cars.Any())
{
    <h2 class="text-success text-center">My Cars</h2><br />
}

@foreach (var car in Model.Cars)
{
    var carImageUrl = car.ImageUrl == null ? "http://forevervacationrentals.com/images/no-image-available2.jpg" : car.ImageUrl;

    <div class="col-md-6">
        <div class="panel panel-default panel-front">
            <h2 class="text-center text-success">
                @car.Make <em>@car.Model</em>
                <form asp-area="Cars" asp-controller="Models" asp-action="RemoveMyCar" method="post">
                    <input type="hidden" name="ModelId" value="@car.ModelId" />
                    <button type="submit" class="btn btn-link col-md-4 col-md-offset-4"><img src="https://cdn2.iconfinder.com/data/icons/flat-style-svg-icons-part-1/512/cancel_delete_remove_stop-128.png" width="50" /></button>
                </form>
            </h2>
            <div class="panel-heading">
                <a><img style='width: 100%;' src="@carImageUrl" height="250" alt="@car.Make @car.Model"></a>
            </div>

            <div class="panel-body">
                <div class="text-right">
                    <a class="btn btn-success form-control">Reviews</a>
                </div>
            </div>
        </div>
    </div>
}
